:root {
    --background-primary: #f5f5f5;
    --background-secondary: rgb(235, 235, 235);
    --background-highlight: rgb(220, 220, 220);

    --text-primary: #000000;
    --text-secondary: #8e8e93;
    
    --accent-color: #3b82f6;
    --text-on-accent: #ffffff;
    
    --danger-color: #ef4444;
    --success-color: #22c55e;
}

[data-theme='dark'] {
    --background-primary: #000000;
    --background-secondary: rgb(20, 20, 20);
    --background-highlight: rgb(30, 30, 30);

    --text-primary: #f2f2f7;
    --text-secondary: #8e8e93;
    
    --accent-color: #3b82f6;
    --text-on-accent: #ffffff;
    
    --danger-color: #ef4444;
    --success-color: #22c55e;
}